.header-background {
  
  position: absolute;
  width: 475px;
  height: 916px;
  left: 0;

  /*top: 1px;

  /* Neutrals/N0 */

  background-color: #fff;

}
.m-logo {
  padding-top: 10px;
  padding-left: 10px;
  text-decoration: none;
  width: 76px;
  height: 20px;

  /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */

  font-family: "Puffin";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;

  /* identical to box height, or 111% */

  display: flex;
  align-items: center;
  text-align: center;

  /* Primary/B400 */

  color: #6070ff;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;

}
a.inline {
  width: bold;
  padding-left: 20px;
  text-decoration: none;
  list-style-type: none;
  padding-right: 0px;
  float: right;
  color: #6070ff;

}
.link-right {
  margin-top: -30px;
  text-decoration: none;
  list-style-type: none;
  float: right;

}
.section1 {
  width: 375px;
  padding-top: 10px;
  display: inline;
  padding-right: 60px;
  width: 0;

}
.section2 {

  padding-left: 10px;
  width: 920px;
  height: 122px;
  padding-top: 50px;
}

/* Header / 1 */

.h2 {

  float: center;

  /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700px;
  font-size: 48px;
  line-height: 60px;

  /* or 125% */

  display: flex;
  align-items: center;
  letter-spacing: 0.37px;

  /* Theme 1 / Neutrals 1 */

  color: #091e42;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.imalex {
  width: 375px;
  padding-left: 0;
}
.sec4h4 {
  width: 375px;
  height: 146px;

  /* Body / 2 */

  /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400px;
  font-size: 16px;
  line-height: 24px;

  /* or 150% */

  /* Neutrals/N600 */

  color: #344563;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
.nav {
  width: 375px;
}

/* stylelint-disable-next-line no-duplicate-selectors */

/* stylelint-disable-next-line no-duplicate-selectors */

h2 {
  width: 375px;
  padding-left: 0px;
}
.section4h4 {
  margin-top: -80px;
}
.sec2image {
  padding-right: 40px;
  padding-top: 25px;
  margin-top: -30px;
}
h5 {
  color: #6070ff;
  margin-top: -20px;
}
.image6 {
  padding-left: 10px;
  width: 30px;
}
.ets {
  color: #6070ff;
  margin-top: -80px;
  padding-top: 25px;
}
.image3 {
  padding-left: 50px;
  width: 80px;
  margin-top: 40px;
}
.image7 {
  padding-left: 50px;
  width: 30px;
}
.image5 {
  padding-left: 50px;
  width: 30px;
}
